@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
    }
    .main-navigation {
        display: none;
    }
    .normal {
        display: none;
    }
    .menu {
        position: absolute;
        top: 30%;
        left: 0px;
    }
    .ladies-t-shirts .button a {
        padding: 0;
    }
    .mens-t-shirts .button a {
        padding: 0;
    }
    footer .demo {
        left: 33%;
    }
}